body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: linear-gradient(to right, rgb(65, 78, 83), rgb(44, 49, 49));
}

input {
    width: 400px;
}

#img-edit {
    padding-top: 50px;
}