<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <div>
            <input type="text" placeholder="Digite para gerar o QRCode..." v-model="text">
        </div>

        <div v-if="text" id="img-edit">
            <img :src="newQRCode" alt="QRCode">
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: "Gerador de QRCode",
                text: "",
                qrcode: new QRious({ size: 240 })
            },
            computed: {
                newQRCode() {
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL()
                }
            }
        })
    </script>
</body>
</html>